main {
    margin: 60px;
}

header {
    background-image: url(../img/pattern.png);
    background-color: lightskyblue;
    background-size: 20%;
    height: 100px;
}

#main-logo {
    height: 40px;
    margin-top: 50px;
    margin-left: 10px;
}

h1 {
    font-size: 4em;
    margin: 0;
}

.info-article {
    color: grey;
    font-size: 12px;
}

.intro-image {
    font-size: 10px;
}

.related-post {
    color: gray

}

table {
    color: black;
    text-align: left;
    width: 50%; 
}

th {
    background-color: #1aabe6;
}

.azure {
    background-color: #b2e6f2
    ;
}

.mark{
    background-color: #8FFFFF;
    color: #000066;
}

.first-related-post {
background-image: url(../img/monitor.jpg);
height: 200px;
width: 200px;
color: white;
}

.second-related-post {
    background-image: url(../img/graph.jpg);
    height: 200px;
    width: 200px;
    color: white;
    }
    